// Global styles.

::selection
{
    background-color: #f9ec67;
}

::placeholder
{
    color: #aea9a9;
}

body,
html
{
    font-family: "SimSun", serif;

    color: $black;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

h1
{
    font-size: 4.5rem;
}

p
{
    font-size: 1rem;
    line-height: 1.5rem;
}

a
{
    color: #0f6ad4;

    &:hover
    {
        color: #5da8ff;
        text-decoration: underline;
        cursor: pointer;
    }

    &:active
    {
        color: #0e62c2;
    }

    &:visited
    {
        color: #e79952;
    }
}

input
{
    box-sizing: border-box;
    &[type='text'] {
        border-bottom: 1px solid $black;
        outline: none;
    }
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
