// Home

body,
html
{
    width: 100%;
    height: 100%;

    background-color: $white;

    //@extend %flex-center-all;
}

.loading
{
    transition: all 1s ease-in-out;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.index-nav {
    display: none;
    @include breakpoint('iphone-portrait') {
        display: block;
        padding: #{30 / $base-font-size}em;
    }
}

.index-nav__items {
    display: flex;
    justify-content: flex-end;
}

.index-header {
    margin: 0 auto;
    width: 100%;
    padding: #{30 / $base-font-size}rem;
    @include breakpoint('iphone-portrait') {
        width: #{740 / $base-font-size}rem;
        padding: 0;
    }
}

.index__logo {
    text-transform: uppercase;
    font-family: "Andale Mono", monospace;
    font-size: #{64 / $base-font-size}rem;
    @include breakpoint('iphone-portrait') {
        font-size: #{72 / $base-font-size}rem;
    }
}

.index-poem {
    width: 100%;
    @include breakpoint('iphone-portrait') {
        width: #{740 / $base-font-size}rem;
    }
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.index-poem__title {
    font-size: #{18 / $base-font-size}rem;
    font-family: "Andale Mono", monospace;
    width: 100%;
    background-color: transparent;
    padding-left: #{6.4 / $base-font-size}rem;
    @include breakpoint('iphone-portrait') {
        width: #{550 / $base-font-size}rem;
        font-size: #{34 / $base-font-size}rem;
    }
}

.index-poem__form {
    padding-top: #{50 / $base-font-size}rem;
    padding-bottom: #{50 / $base-font-size}rem;
    padding-left: #{30 / $base-font-size}rem;
    padding-right: #{30 / $base-font-size}rem;
    width: 100%;
    z-index: 2;
    @include breakpoint('iphone-portrait') {
        padding-top: #{100 / $base-font-size}rem;
        padding-left: 0;
        padding-right: 0;
    }
}

.index-poem__lines {
    display: inline-block;
    width: 100%;
    padding-bottom: #{20 / $base-font-size}rem;
    padding-left: #{30 / $base-font-size}rem;
    padding-right: #{30 / $base-font-size}rem;
    @include breakpoint('iphone-portrait') {
        width: 50%;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.index-poem__tooltip-container {
    width: 100%;
    padding: #{20 / $base-font-size}rem;
    background-color: #F1F1F1;
    @include breakpoint('iphone-portrait') {
        width: 50%;
        padding: 0;
        background-color: transparent;
    }
    display: none;
    &:not(:empty) {
        display: block;
    }
}

.index-poem__tooltip {
    font-size: 0.75em;
    display: none;
    white-space: pre-wrap;
    @include breakpoint('iphone-portrait') {
        border-left: 1px solid $black;
        padding-left: #{20 / $base-font-size}rem;
    }
}


@mixin line-number($number) {
    position: relative;
    &:before {
        content: "#{$number}";
        position: absolute;
        left: #{(-10 -$number) / $base-font-size}rem;
        font-size: 0.75em;
        @include breakpoint('iphone-portrait') {
            left: #{(-20 -$number) / $base-font-size}rem;
        }
    }
}

.index-poem__line--5{
    @include line-number(5);
}

.index-poem__line--10{
    @include line-number(10);
}

.index-poem__line-content {
    cursor: pointer;
    //display: inline-block;
    background-color: #F1F1F1;
    @include breakpoint('iphone-portrait') {
        background-color: transparent;
    }
    &:hover {
        background-color: $highlight-text-color;
    }
}

.ui-menu {
    font-family: "Andale Mono", monospace;
    .ui-menu-item {
        padding-left: #{6.4 / $base-font-size}rem;
    }
}

.ui-widget {
    font-size: #{18 / $base-font-size}rem;
}

.index-poem__tooltip-line {
    // display: inline-block;
    background-color: $highlight-text-color;
}

.index-poem__tooltip-citation {
    display: block;
    text-align: right;
}

.index-poem__image-container {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0.23;
}

.index-poem__image {
    height: #{150 / $base-font-size}rem;
    display: none;
    @include breakpoint('iphone-portrait') {
        display: inline;
    }
}

.index-footer {
    display: none;
    height: #{(60 + $base-font-size)/$base-font-size}rem;
    @include breakpoint('iphone-portrait') {
        display: block;
    }
}

.hidden {
    display: none;
}

.index-poem__lauds {
    width: 100%;
}
    