include ../../common-components/head/head.jade

doctype html
html
	+head( 'WikiSonnet' )
	body
		nav.index-nav
			ul.index-nav__items
				li 
					a About
		header.index-header
			h1.index__logo
				| Wiki
				br 
				| Sonnet
		section.index-poem
			.index-poem__image-container
				img.index-poem__image(src="https://upload.wikimedia.org/wikipedia/commons/1/14/Albert_Einstein_1947.jpg")
			.index-poem__form
				input#poem-subject.index-poem__title( type='text' placeholder='Choose a starting page' autocomplete='off')
				//input( type='submit' id='get-poem' )
			#poem-lines.index-poem__lines
			#poem-tooltips.index-poem__tooltip-container
		footer.index-footer