include ../../common-components/head/head.jade

doctype html
html
	+head( 'WikiSonnet' )
	body
		nav.index-nav
			ul.index-nav__items
				li About
		header.index-header
			h1.index__logo
				| Wiki
				br 
				| Sonnet
		section.index-poem
			.index-poem__form
				input#poem-subject.index-poem__title( type='text' placeholder='Choose a starting page' autocomplete='off')
				//input( type='submit' id='get-poem' )
			#poem-lines.index-poem__lines
			//- .index-poem__tooltip-container
			//- 	p.index-poem__tooltip The domestic cat is a small, typically furry, domesticated, and carnivorous mammal. They are often called house cats when kept as indoor pets or simply cats when there is no need to distinguish them from other felids and felines.