each line, index in poem
	if line.page_id == 0
		p(class="index-poem__line")
			span(class="index-poem__line-content")= "----------------"
	else
		if index === 4 || index === 9
			p(class="index-poem__line--#{index+1}")
				span(class="index-poem__line-content")= line.text
		else
			p(class="index-poem__line")
				span(class="index-poem__line-content")= line.text
	if index !== 0 && (index + 1) % 4 === 0
		br