each line, index in poem
	if line.page_id == 0
		p(class="index-poem__line")
			span(class="index-poem__line-content")= "----------------"
	else
		if index === 5 || index === 10
			p(class="index-poem__line--#{index}")
				span(class="index-poem__line-content")= line.text
		else
			p(class="index-poem__line")
				span(class="index-poem__line-content")= line.text
	if index !== 0 && (index + 1) % 4 === 0
		br