.header-wrapper(ui-view='header')
.about-body
	p Wikisonnet was created by Ana Giraldo-Wingler, Cassie Tarakajian, and Sam Tarakajian. You can check out the source 
		a(href="https://github.com/starakaj/wikisonnet") here
		, 
		a(href="https://github.com/awanderingorill/wikisonnets_frontend") here
		, and  
		a(href="https://github.com/catarak/wikisonnet-bot") here
		| . You can also follow our twitter bot, which will tweet sonnets to you for any Wikipedia Article you specify, at 
		a(href="https://twitter.com/wikisonnet") @wikisonnet
		| .

	p
		a(ui-sref="home") Home