.share-buttons {
	display: flex;
	& > * + * {
		margin-left: 5px;
	}
	display: inline-block;
}

.share-button {
	font-family: $monospace-font;
	border-bottom: none;
	text-transform: uppercase;
	user-select: none; 
	& + .share-buttons {
		transition: opacity 0.1s ease-in-out;
		opacity: 0;
	}
	&.active + .share-buttons {
		opacity: 1;
	}
}

.share-buttons-wrapper {
	position: relative;
	text-align: right;
	padding-right: #{20 / $base-font-size}rem;
	padding-bottom: #{20 / $base-font-size}rem;
	@include breakpoint('iphone-portrait') {
		display: block;
		text-align: left;
		padding: 0;
		padding-top: #{30 / $base-font-size}rem;
	}
}

.twitter-share-button {
	@include icon('twitter');
	border-bottom: none;
}

.fb-share-button {
	@include icon('facebook');
	border-bottom: none;
}

.tumblr-share-button {
	@include icon('tumblr');
	border-bottom: none;
}