.share-buttons {
	// padding: #{10 / $base-font-size}rem 0;
	display: flex;
	& > * + * {
		margin-left: 5px;
	}
	// position: absolute;
	display: inline-block;
}

.share-button {
	font-family: $monospace-font;
	border-bottom: none;
	text-transform: uppercase;
	user-select: none; 
	& + .share-buttons {
		transition: opacity 0.5s ease-in-out;
		opacity: 0;
	}
	&.active + .share-buttons {
		opacity: 1;
	}
}

.share-buttons-wrapper {
	padding-top: #{20 / $base-font-size}rem;
	position: relative;
	display: none;
	@include breakpoint('iphone-portrait') {
		display: block;
	}
}

.twitter-share-button {
	@include icon('twitter');
	border-bottom: none;
}

.fb-share-button {
	@include icon('facebook');
	border-bottom: none;
}

.tumblr-share-button {
	@include icon('tumblr');
	border-bottom: none;
}