.header {
	padding: #{30 / $base-font-size}em;
  width: 100%;
}

.nav {
    display: flex;
}

.nav__items {
    display: none;

    @include breakpoint('iphone-portrait') {
        display: flex;
        justify-content: flex-end;
  }
}

.logo {
	text-transform: uppercase;
  font-family: "Andale Mono", monospace;
  font-size: #{40 / $base-font-size}rem;
	@include breakpoint('iphone-portrait') {
	  width: #{740 / $base-font-size}rem;
	  padding: 0;
	}
  flex: 1;
}