.header {
	padding: #{20 / $base-font-size}em;
  width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.nav__items {
    font-family: $monospace-font;
    font-size: #{14 / $base-font-size}rem;
    text-transform: uppercase;
    @include breakpoint('iphone-portrait') {
        display: flex;
        justify-content: flex-end;
        flex: 1;
  }
}

.nav__about, .nav__home {
  border-bottom: none;
  color: rgba(0,0,0,0.4);
  &:hover {
    color: rgba(0,0,0,0.4);
  }
}

.logo {
	text-transform: uppercase;
  font-family: $monospace-font;
  font-size: #{24 / $base-font-size}rem;
  align-self: flex-start;
  cursor: pointer;
  text-align: center;
	@include breakpoint('iphone-portrait') {
	  // width: #{740 / $base-font-size}rem;
	  padding: 0;
    text-align: left;
    flex: 1;
	}
}

.nav__poem-sorting-container {
  @include breakpoint('iphone-portrait') {
    display: inline-block;
  }
  position: relative;
  @include icon('chevron-small-down', 'after') {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: -1;
  }
}

.nav__poem-sorting {
  font-size: #{14 / $base-font-size}rem;
  align-self: center;
  font-family: $monospace-font;
  text-transform: uppercase;   
  border: none;
  background-color: transparent;
  appearance: none;
  outline: none;
  width: #{115 / $base-font-size}rem;
}

.nav__poem-sorting-item {
  background-color: $white;
}

.nav__poem-sorting-wrapper {
  min-width: 100%;
  order: 2;
  display: flex;
  justify-content: center;
  padding-top: #{20 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
    order: initial;
    min-width: auto;
    padding: 0;
  }
}