header.header
	nav.nav
		.logo(ui-sref="home") WikiSonnet
		.nav__poem-sorting-wrapper
			select.nav__poem-sorting 
				option.nav__poem-sorting-item(value="mostRecent" selected="true") Most Recent
				option.nav__poem-sorting-item(value="featured") Featured
		ul.nav__items
			li
				a.nav__about(ui-sref="about") About