doctype html
html
	head
		base( href='/' )
		meta( name='viewport', content='maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0')
		title Wikisonnet
		//- main:css
		link(rel="stylesheet", href="/styles/app_styles.css")
		//- endinject
		link( rel='icon', type='image/png', href='/favicon.png' )
		//- vendor:js
		//- endinject
		//- main:js
		script(src="/scripts/angular-main.js")
		//- endinject
	body( ng-app='appWikisonnetClient' )
		.app(ui-view)