doctype html
html
	head
		meta( name='viewport', content='maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0')
		title Wikisonnet
		//- vendor:css
		link(rel="stylesheet", href="/styles/jquery-ui.min.css")
		//- endinject
		//- main:css
		link(rel="stylesheet", href="/styles/main.css")
		//- endinject
		link( rel='icon', type='image/png', href='/favicon.png' )
		//- vendor:js
		//- endinject
		//- main:js
		script(src="/scripts/angular-main.js")
		//- endinject
	body( ng-app='appWikisonnetClient' )
		.main( ui-view='main' )