.poem {
	width: 100%;
	@include breakpoint('iphone-portrait') {
      width: #{740 / $base-font-size}rem;
  }
  //margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.poem__lines {
	display: inline-block;
	width: 100%;
  padding-bottom: #{20 / $base-font-size}rem;
  padding-left: #{30 / $base-font-size}rem;
  padding-right: #{30 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
      width: 50%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
  }
}

.poem__line-wrapper {
	display: block;
  &:nth-child(4), &:nth-child(8), &:nth-child(12) {
    margin-bottom: #{16/$base-font-size}rem;
  }
  // &.active .poem__line, 
  // &.active [class^="poem__line--"], 
  // &.active [class*="poem__line--"] {
  //   background-color: $highlight-text-color;
  //   & + .poem__tooltip {
  //     display: block;
  //   }
  // }
}

@mixin line-number($number) {
    position: relative;
    &:before {
        content: "#{$number}";
        position: absolute;
        left: #{(-10 -$number) / $base-font-size}rem;
        font-size: 0.75em;
        @include breakpoint('iphone-portrait') {
            left: #{(-20 -$number) / $base-font-size}rem;
        }
    }
}

.poem__line--5{
    @include line-number(5);
}

.poem__line--10{
    @include line-number(10);
}

.poem__line, [class^="poem__line--"], [class*=" poem__line--"] {
	display: inline-block;
	cursor: pointer;
	background-color: $background-color;
  font-size: #{14 / $base-font-size}rem;
	@include breakpoint('iphone-portrait') {
      background-color: transparent;
      font-size: #{16 / $base-font-size}rem;
  }
  &.active {
      background-color: $highlight-text-color;
      & + .poem__tooltip {
      	display: block;
      }
  }
}

.poem__tooltips {
  width: 100%;

}

.poem__tooltip {
  font-size: 0.75em;
  display: none;
  white-space: pre-wrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $background-color;
  padding: #{20 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
      border-left: 1px solid $black;
      padding: 0;
      padding-left: #{20 / $base-font-size}rem;
      top: #{160 / $base-font-size}rem;
      left: 50%;
      right: initial;
      bottom: initial;
      background-color: transparent;
  }
}

.poem__tooltip-line {
  background-color: $highlight-text-color;
}

.poem__tooltip-citation {
  display: block;
  text-align: right;
}

.poem__image-wrapper {
  display: none;
  width: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0.23;
  @include breakpoint('iphone-portrait') {
    display: block;
    position: absolute;
    top: 0;
    height: #{150 / $base-font-size}rem;
  }
}

.poem__title-form {
  height: #{160 / $base-font-size}rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: #{30 / $base-font-size}rem;
  padding-left: #{20 / $base-font-size}rem;
  padding-right: #{20 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
    padding-left: 0;
    padding-right: 0;
  }
}

.poem__title {
  font-family: "Andale Mono", monospace;
  font-size: #{18 / $base-font-size}rem;
  background-color: transparent;
  width: 100%;
  @include breakpoint('iphone-portrait') {
    font-size: #{30 / $base-font-size}rem;
    width: #{460 / $base-font-size}rem;
  }
  outline: none;
  border: none;
  resize: none;
  border-bottom: 1px solid black;
  overflow-y: hidden;
}

#poem-title {
  width: 100%;
  @include breakpoint('iphone-portrait') {
    width: auto;
  }
}

.poem-body {
  display: flex;
  flex: 1;
}

.left-sidebar, .right-sidebar {
  flex: 1;
  display: flex;
  align-items: center;
}

.left-sidebar {
  justify-content: flex-start;
  padding-left: #{20 / $base-font-size}rem;
}

.right-sidebar {
  justify-content: flex-end;
  padding-right: #{20 / $base-font-size}rem;
}

.left-poem__title {
  cursor: pointer;
  @include icon('arrow-left') {
    padding-right: #{10 / $base-font-size}rem;
    vertical-align: bottom;
  }
}

.right-poem__title {
  cursor: pointer;
  @include icon('arrow-right', 'after') {
    padding-left: #{10 / $base-font-size}rem;
    vertical-align: bottom;
  }
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    // border-color: #ececec;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -4px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    // background-color: lightblue;
    background-color: $background-color;
    // color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}