.poem {
	width: 100%;
	@include breakpoint('iphone-portrait') {
      width: #{740 / $base-font-size}rem;
  }
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.poem__lines {
	display: inline-block;
	width: 100%;
  padding-bottom: #{20 / $base-font-size}rem;
  padding-left: #{30 / $base-font-size}rem;
  padding-right: #{30 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
      width: 50%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
  }
}

.poem__line-wrapper {
	display: block;
  &:nth-child(4), &:nth-child(8), &:nth-child(12) {
    margin-bottom: #{16/$base-font-size}rem;
  }
}

@mixin line-number($number) {
    position: relative;
    &:before {
        content: "#{$number}";
        position: absolute;
        left: #{(-10 -$number) / $base-font-size}rem;
        font-size: 0.75em;
        @include breakpoint('iphone-portrait') {
            left: #{(-20 -$number) / $base-font-size}rem;
        }
    }
}

.poem__line--5{
    @include line-number(5);
}

.poem__line--10{
    @include line-number(10);
}

.poem__line, [class^="poem__line--"], [class*=" poem__line--"] {
	display: inline-block;
	cursor: pointer;
	background-color: $background-color;
  font-size: #{14 / $base-font-size}rem;
	@include breakpoint('iphone-portrait') {
      background-color: transparent;
      font-size: #{16 / $base-font-size}rem;
  }
  &:hover {
      background-color: $highlight-text-color;
      & + .poem__tooltip {
      	display: block;
      }
  }
}

.poem__tooltips {
  width: 100%;

}

.poem__tooltip {
  font-size: 0.75em;
  display: none;
  white-space: pre-wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $background-color;
  padding: #{20 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
      border-left: 1px solid $black;
      padding-left: #{20 / $base-font-size}rem;
      top: 0;
      left: 50%;
      right: initial;
      background-color: transparent;
      padding: 0;
  }
}

.poem__tooltip-line {
  background-color: $highlight-text-color;
}

.poem__tooltip-citation {
  display: block;
  text-align: right;
}