.poem {
	width: 100%;
	@include breakpoint('iphone-portrait') {
      width: #{740 / $base-font-size}rem;
      min-width: #{740 / $base-font-size}rem;
  }
  //margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex: 1;
  flex-direction: column;
}

.poem__lines {
  position: relative;
	display: inline-block;
	width: 100%;
  padding-bottom: #{20 / $base-font-size}rem;
  padding-left: #{30 / $base-font-size}rem;
  padding-right: #{30 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
      width: 50%;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
  }
}

.poem__line-wrapper {
	display: block;
  &:nth-child(4), &:nth-child(8), &:nth-child(12) {
    margin-bottom: #{16/$base-font-size}rem;
  }
  // &.active .poem__line, 
  // &.active [class^="poem__line--"], 
  // &.active [class*="poem__line--"] {
  //   background-color: $highlight-text-color;
  //   & + .poem__tooltip {
  //     display: block;
  //   }
  // }
}

@mixin line-number($number) {
    position: relative;
    &:before {
        content: "#{$number}";
        position: absolute;
        left: #{(-10 -$number) / $base-font-size}rem;
        font-size: 0.75em;
        @include breakpoint('iphone-portrait') {
            left: #{(-20 -$number) / $base-font-size}rem;
        }
    }
}

.poem__line--5{
    @include line-number(5);
}

.poem__line--10{
    @include line-number(10);
}

.poem__line, [class^="poem__line--"], [class*=" poem__line--"] {
	display: inline-block;
	cursor: pointer;
	background-color: $background-color;
  font-size: #{13 / $base-font-size}rem;
  margin-top: #{2 / $base-font-size}rem;
	@include breakpoint('iphone-portrait') {
      background-color: transparent;
      font-size: #{16 / $base-font-size}rem;
      margin-top: 0;
  }
  &.active {
      background-color: $highlight-text-color;
      & + .poem__tooltip {
      	display: block;
      }
  }
}

.poem__tooltips {
  width: 100%;

}

.poem__tooltip {
  font-size: 0.75em;
  display: none;
  white-space: pre-wrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $background-color;
  padding: #{20 / $base-font-size}rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  @include breakpoint('iphone-portrait') {
      border-left: 1px solid $black;
      padding: 0;
      padding-left: #{20 / $base-font-size}rem;
      top: 0;
      left: 100%;
      right: initial;
      bottom: initial;
      background-color: transparent;
      width: 100%;
  }
}

.poem__tooltip-line {
  background-color: $highlight-text-color;
}

.poem__tooltip-citation {
  display: block;
  text-align: right;
}

.poem__image-wrapper {
  display: none;
  width: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0.23;
  @include breakpoint('iphone-portrait') {
    display: block;
    position: absolute;
    top: 0;
    height: #{150 / $base-font-size}rem;
  }
}

.poem__image {
  height: 100%;
}

.poem__title-form {
  height: #{64 / $base-font-size}rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: #{15 / $base-font-size}rem;
  padding-left: #{20 / $base-font-size}rem;
  padding-right: #{20 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
    padding-left: 0;
    padding-right: 0;
    height: #{160 / $base-font-size}rem;
  }
}

.poem__title {
  font-family: "Andale Mono", monospace;
  font-size: #{18 / $base-font-size}rem;
  background-color: transparent;
  width: 100%;
  min-height: #{24 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
    font-size: #{24 / $base-font-size}rem;
    width: #{370 / $base-font-size}rem;
    min-height: #{30 / $base-font-size}rem;
  }
  outline: none;
  border: none;
  resize: none;
  border-bottom: 1px solid black;
  overflow-y: hidden;
}

#poem-title {
  width: 100%;
  @include breakpoint('iphone-portrait') {
    width: auto;
  }
}

.poem-body {
  display: flex;
  width: 100%;
  opacity: 0;
  transition: all linear 1.0s;
  &.ng-not-empty {
    opacity: 1;
  }
}

.left-sidebar, .right-sidebar {
  align-items: center;
  flex: 0;
  display: flex;
  @include breakpoint('iphone-portrait') {
    flex: 1;
    min-height: #{544/$base-font-size}rem;
  }
}

.left-sidebar {
  justify-content: flex-start;
  font-size: #{16 / $base-font-size}rem;
  padding: 0;
  @include breakpoint('iphone-portrait') {
    padding-left: #{60 / $base-font-size}rem;
  }
}

.right-sidebar {
  justify-content: flex-end;
  font-size: #{16 / $base-font-size}rem;
  padding: 0;
  @include breakpoint('iphone-portrait') {
    padding-right: #{60 / $base-font-size}rem;
  }
}


.left-poem__title, .right-poem__title {
  cursor: pointer;
  display: none;
  width: auto;
  font-family: "Andale Mono", monospace;
  max-width: #{150 / $base-font-size}rem;
  font-size: #{14 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') {
    display: inline-block;
  }
}

.left-poem {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  @include icon('arrow-left') {
    cursor: pointer;
    display: block;
    top: 59%;
    left: #{-50 / $base-font-size}rem;
    font-size: #{12 / $base-font-size}rem;
    padding: #{20 / $base-font-size}rem;
    @include breakpoint('iphone-portrait') {
      position: absolute;
      font-size: #{14 / $base-font-size}rem;
      padding: 0;
      transform: translateY(-50%);
      transition: left 0.7s ease;
    }
  }
  @include breakpoint('iphone-portrait') { 
    display: inline-block;
    position: relative;
    &:hover:before {
      left: #{-60 /$base-font-size}rem;
    }
  }
}

.right-poem {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  @include icon('arrow-right', 'after') {
    cursor: pointer;
    display: block;
    top: 59%;
    right: #{-50 / $base-font-size}rem;
    font-size: #{12 / $base-font-size}rem;
    padding: #{20 / $base-font-size}rem;
    @include breakpoint('iphone-portrait') {
      position: absolute;
      font-size: #{14 / $base-font-size}rem;
      padding: 0;
      transform: translateY(-50%);
      transition: right 0.7s ease;
    }
  }
  @include breakpoint('iphone-portrait') { 
    display: inline-block;
    position: relative;
    &:hover:after {
      right: #{-60 /$base-font-size}rem;
    }
  }
}


.poem__footer {
  display: flex;
  justify-content: center;
  order: -1;
  padding: #{20 / $base-font-size}rem;
  @include breakpoint('iphone-portrait') { 
    order: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.poem__random {
  font-family: 'Andale Mono', monospace;
  font-size: #{14 / $base-font-size}rem;
  border-bottom: none;
  text-transform: uppercase;
  &:hover {
    border-bottom: none;
  }
}

.poem__loader {
  animation-duration: 0.25s;
  animation-name: fadein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fadein {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
