.header-wrapper(ui-view='header')
.poem
	p.poem__lines
		span.poem__line-wrapper(ng-repeat="line in poem.lines")
			span.poem__line
				{{ line.text }}
			span.poem__tooltip
				span.poem__tooltip-snippet '...{{ line.tooltip.snippet | preLinePortion:line.text }}
					span.poem__tooltip-line{{line.text}}
					{{ line.tooltip.snippet | postLinePortion:line.text}}...'
					span.poem__tooltip-citation —
						a(href="{{line.tooltip.url}}" target="_blank") {{ line.tooltip.title}}

