.header-wrapper(ui-view='header')
.poem-body
	.left-sidebar
		.left-poem
			span.left-poem__title {{previousPoem.title}}
	.poem
		.poem__image-wrapper
			img.poem__image(src="{{poem.imageUrl}}")
		.poem__title-form
			angucomplete-alt(placeholder="Enter a Wikipedia article" id="poem-title" pause="100" remote-url="/api/search?q=" input-class="poem__title" selected-object="createPoem" minlength="1" title-field="title" initial-value="poem.title")
		p.poem__lines
			poem-line.poem__line-wrapper(ng-repeat="line in poem.lines")
	.right-sidebar
		.right-poem
			span.right-poem__title {{nextPoem.title}}

