.header-wrapper(ui-view='header')
.poem
	p.poem__lines
		span.poem__line-wrapper(ng-repeat="line in poem.lines")
			span.poem__line
				{{ line.text }}
			span.poem__tooltip
				span.poem__tooltip-snippet {{ line.tooltip.snippet }}

