.header-wrapper(ui-view='header')
.poem-body(ng-model="poem")
	.left-sidebar
		.left-poem(ng-show="poem.next" ng-click="goToPoem(poem.next.poem_id)")
			span.left-poem__title {{poem.next.page_name | removeUnderscores}}
	.poem
		.poem__image-wrapper
			img.poem__image(src="{{poem.imageUrl}}")
		.poem__title-form
			a.poem__title-link(href="{{poem.title | wikipediaLink}}" ng-show="poem.title" target="_blank")
			angucomplete-alt(placeholder="Enter a Wikipedia article" id="poem-title" pause="100" remote-url="/api/search?q=" input-class="poem__title" selected-object="createPoem" minlength="1" title-field="title" initial-value="poem.title" ng-show="poem.title")
		p.poem__lines(ng-show="poem.lines")
			poem-line.poem__line-wrapper(ng-repeat="line in poem.lines")
		p.poem__loader(ng-hide="poem.lines")
			| {{poem.queue_length | loaderText}}
		share-buttons.share-buttons-wrapper(ng-show="poem.lines")
	.right-sidebar
		.right-poem(ng-show="poem.previous" ng-click="goToPoem(poem.previous.poem_id)")
			span.right-poem__title {{poem.previous.page_name | removeUnderscores}}
footer.poem__footer
	a.poem__random(ng-click="goToRandomPoem()") Random


